<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>max error</title>

    <style>
        body {background-color: #bec5d5}
    </style>
</head>
<body>
<h1>Inventory must be at or in between min and max values!</h1>
<hr>

<h3>Inventory is too high! Please ensure inventory number is lower than or equal to maximum inventory.</h3>


<a href="http://localhost:8080/showFormAddInPart">Link
  to add in house part form</a>
<br><br>

<a href="http://localhost:8080/showFormAddOutPart">Link
  add out source part form</a>

</body>
</html>