<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Part Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


    <style>
        body {background-color: #bec5d5}
    </style>



</head>
<body>
<h1>Please insert out-source fishing gear information</h1>

<form action="#" th:action="@{/showFormAddOutPart}" th:object="${outsourcedpart}" method="POST"}>

<!-- Add hidden form field to handle update -->
    <p><input type="hidden" th:field="*{id}"/></p>

<p>Name:<input type="text" th:field="*{name}" placeholder="Name" class="form-control mb-4 col-4"/></p>

<p>Price<input type="text" th:field="*{price}" placeholder= "Price" class="form-control mb-4 col-4"/></p>
    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</p>

<p>Inventory<input type="text" th:field="*{inv}" placeholder="Inventory" class="form-control mb-4 col-4"/></p>
    <p th:if="${#fields.hasErrors('inv')}" th:errors="*{inv}">Inventory Error</p>


    <p>Min Inventory:<input type="text" path="inv" th:field="*{minInventory}" placeholder="Minimum Inventory" class="form-control mb-4 col-4"/></p>
    <p th:if="${#fields.hasErrors('inv')}" th:errors="*{minInventory}">Minimum Inventory Error</p>
    <p>Max Inventory:<input type="text" path="inv" th:field="*{maxInventory}" placeholder="Maximum Inventory" class="form-control mb-4 col-4"/></p>
    <p th:if="${#fields.hasErrors('inv')}" th:errors="*{maxInventory}">Maximum Inventory Error</p>

    <p>Company to order gear from<input type="text" th:field="*{companyName}" placeholder="Company Name" class="form-control mb-4 col-4"/></p>

<p><input type="submit" value="Submit" /></p>
</form>
<hr>
<br>
<a href="http://localhost:8080/"> Back to Main Screen</a>
</body>
</html>